.elem__text {
  grid-row: 2/3;
  grid-column: 1/2;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  align-self: start;
  justify-self: start;
  margin-top: 24px;
  margin-left: 20px;
  padding-bottom: 30px;
  max-width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 642px) {
  .elem__text {
    padding-bottom: 27px;
  }
}